/* CUSTOM STYLES */

.section-two-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-weight: 300;
}

.key-partners-section {
	padding: 2.5em 0em;
    text-align: center;
}
.how-it-works-section {
    padding: 2.5em 0em;
    text-align: center;
    color: #ffffff;
}

.how-it-works-section1 {
    color: white;
    text-align: center;
}

#the-input-boxes input {
    width: 15%;
    text-align: center;
}

.text-in-modal-content {
    text-align: center;
    padding: 2em 0em;
}

.margin-of-modal {
    margin-top: 200px;
}

.text-align-center-for-all {
	text-align: center;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    .card-length {
        height: 180px;
    }
}

.how-it-works-bg {
    background: url("../img/howitworksbg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.feature-container {
    margin-bottom: 2em;
}

@media screen and (max-width: 767px){   
    #main-img{      
       content:url("../img/hiwmb.png");
    }
    #ride-img{      
       content:url("../img/logos1mb.png");
    }
    #side-img{      
       content:url("../img/logos2mb.png");
    }
    #tide-img{      
       content:url("../img/logos3mb.png");
    }
}

@media screen and (min-width: 768px) {      
    #main-img{      
       content:url("../img/hiw.png");
    }
    #ride-img{      
       content:url("../img/logos1.png");
    }
    #side-img{      
       content:url("../img/logos2.png");
    }
    #tide-img{      
       content:url("../img/logos3.png");
    }

} 
@media (min-width: 992px){      
    #main-img{        
        content:url("../img/hiw.png");  
    }
    #ride-img{        
        content:url("../img/logos1.png");  
    }
    #side-img{      
        content:url("../img/logos2.png");
    }
    #tide-img{      
        content:url("../img/logos3.png");
    }
}
@media (min-width: 1200px) {    
    #main-img{         
        content:url("../img/hiw.png");   
    }
    #ride-img{         
        content:url("../img/logos1.png");   
    }
    #side-img{      
        content:url("../img/logos2.png");
    }
    #tide-img{      
        content:url("../img/logos3.png");
    }
}