#page-wrap {
	margin: 50px;
	margin-top: 100px;
}

#bar-width {
	width: 10%;
	text-align: center;
}

.block-of-contents {
	text-align: center;
}

.height-of-cards {
	height: 400px;
}

.height-of-cards1 {
	height: 200px;
}

@media screen and (max-width: 767px){   
    #bar-width {      
       width: 15%;
    }
}