/* YOUR CUSTOM STYLES */

.section-two-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-weight: 300;
}

.how-it-works-section {
	padding: 3em 0em;
    text-align: center;
}