/* STYLES */

html,
body,
.view {
  height: 100%;
}
/* Navigation*/

.navbar {
  background-color: #3c4f74;
}

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: #3c4f74;
}

footer.page-footer {
  background-color: #3c4f74;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}
/*Call to action*/

.flex-center {
  color: #fff;
}

.view {
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Work/full page/img%20(2).jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Contact section*/

#contact .fa {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #1C2331;
}
















.description {
  white-space: pre-line;
  width:100%;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.demo-graphs {
  padding: 8px 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section {
  //display: block;
  padding-top: 78px;
}

.section-header {
  color: #755692;
  font-size: 24px;
  margin-bottom: 36px;
  text-align: center;
}