<h1>Editing Fixed Deposit Investment</h1>

<%= render 'form', fixed_deposit_investment: @fixed_deposit_investment %>

<%= link_to 'Show', @fixed_deposit_investment %> |
<%= link_to 'Back', fixed_deposit_investments_path %>
