<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "layouts/purchase_form", locals: {path: 'fixed_deposit_investments', investment: @fixed_deposit_investment} %>
    </div>
  </div>
</div>

