<div class="card wow fadeIn">
  <div class="card-block how-it-works-section1 padding-for-title" style="background-color: #3c4f74;">
    How much and how long do you want to invest
  </div>
  <!--Card content-->
  <div class="card-block block-of-contents" id="bar-width">
    <br />
    <form data-calculate-fixed_deposit-returns>
      <p>
        I have GHS &nbsp;&nbsp;
        <input class="bar-w" type="number" id="principal" name="principal" value="100">&nbsp;&nbsp;
        and I would like to invest GHS &nbsp;&nbsp;
        <input type="number" id="deposits" name="deposits" value="10">
        every month for &nbsp;&nbsp;
        <input type="number" id="duration" name="duration" value="6">&nbsp;&nbsp;
        <select name="duration_type" id="duration_type">
          <option value="years">years</option>
          <option value="months">months</option>
        </select>
      </p>
    </form>
  </div>
  <!--/.Card content-->
</div>