<div class="card wow fadeIn">
  <div class="card-block how-it-works-section1 padding-for-title" style="background-color: #3c4f74;">
    How much and how long do you want to invest
  </div>
  <!--Card content-->
  <div class="card-block block-of-contents" id="bar-width">
    <br />
    <form data-calculate-fixed_deposit-returns>
      <p>
        I have GHS &nbsp;&nbsp;
        <input class="bar-w" type="number" id="principal" name="principal" value="<%= session[:principal] ||= 100 %>">&nbsp;&nbsp;
        and I would like to invest GHS &nbsp;&nbsp;
        <input type="number" id="deposits" name="deposits" value="<%= session[:deposits] ||= 10 %>">
        every month for &nbsp;&nbsp;
        <input type="number" id="duration" name="duration" value="<%= session[:duration] ||= 6 %>">&nbsp;&nbsp;

        <% if session[:duration_multiplier] == '12' %>
            <select name="duration_multiplier" id="duration_multiplier">
              <option value="12" selected>months</option>
              <option value="1">years</option>
            </select>
        <% else %>
            <select name="duration_multiplier" id="duration_multiplier">
              <option value="12">months</option>
              <option value="1" selected>years</option>
            </select>
        <% end %>

      </p>
    </form>
  </div>
  <!--/.Card content-->
</div>