<div class="card wow fadeIn">
  <div class="card-block how-it-works-section1 padding-for-title" style="background-color: #3c4f74;">
    Please fill in the following details
  </div>
  <!--Card content-->
  <div class="card-block block-of-contents d-flex justify-content-center">
    <br />

    <%= form_tag "/#{path}/#{investment.id}/purchase", :method => 'post', class: 'form' do %>

        <div class="form-group">
          <label for="principal">How much of this investment you want to purchase</label>
          <input type="number" class="form-control" name="principal" id="principal" placeholder="Minimum Amount">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="first_name" placeholder="First name">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="last_name" placeholder="Last name">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="phone_number" placeholder="Phone number">
        </div>

        <div class="form-group">
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <br /><br />
        <div align="center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    <% end %>

  </div>
  <!--/.Card content-->
</div>