<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>InvestxD</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <!-- Our style -->
  <link rel="stylesheet" href="../results.css">

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Material Design Bootstrap -->
  <link href="../css/mdb.min.css" rel="stylesheet">

  <!-- Styles -->
  <style>
    /* STYLES */

    html,
    body,
    .view {
      height: 100%;
    }
    /* Navigation*/

    .navbar {
      background-color: #3c4f74;
    }

    .scrolling-navbar {
      -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
      transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
      background-color: #3c4f74;
    }

    footer.page-footer {
      background-color: #3c4f74;
      margin-top: 2rem;
    }

    @media only screen and (max-width: 768px) {
      .navbar {
        background-color: #1C2331;
      }
    }
    /*Call to action*/

    .flex-center {
      color: #fff;
    }

    .view {
      background: url("https://mdbootstrap.com/img/Photos/Horizontal/Work/full page/img%20(2).jpg")no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    /*Contact section*/

    #contact .fa {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #1C2331;
    }
  </style>


</head>

<body>

<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="..//">
      <img src="../img/logo1.png">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="..//fixed_deposit_investments">Fixed Deposit Investments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="..//mutual_funds">Mutual Funds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../#about">About</a>
        </li>
      </ul>
      <form action="search" class="form-inline waves-effect waves-light">
        <input class="form-control" type="text" name="query" placeholder="Search">
      </form>
    </div>
  </div>
</nav>
<!--/.Navbar-->

<%= yield %>

<!--Footer-->
<footer class="page-footer center-on-small-only" id="about">

  <!--Footer Links-->
  <div class="container-fluid" id="about">
    <br />
    <div class="row">

      <div class="col-lg-1">
      </div>
      <!--First column-->
      <div class="col-lg-3 col-xs-12">
        <h5 class="title">About investXD</h5>
        <p>investXD is aimed at promoting financial inclusion hence the reason for making investment a worthwhile experience for our investors. We employ licensed advisors and financial journalists in providing you the most accurate information.</p>

        <p>We are investors and we hate the problems we go through everytime we want to invest. we built investXD because it makes our lives simple. We hope it makes yours as well :) </p>
        <br /><br />
      </div>
      <!--/.First column-->

      <div class="col-lg-8 col-md-12 col-xs-12" align="center">
        <div class="row">
          <div class="col-lg-6">
            <h5 class="title">Contact us</h5>
            <br />
            <ul>
              <li class="wow fadeIn" data-wow-delay="0.2s"><i class="fa fa-map-marker teal-text"></i>
                <p>No. 32, Aluguntugui Street</p>
              </li>

              <li class="wow fadeIn" data-wow-delay="0.3s"><i class="fa fa-phone teal-text"></i>
                <p>+233 204 264 743</p>
              </li>

              <li class="wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-envelope teal-text"></i>
                <p><a href="../mailto:info@investxd.com" class="btn btn-success" rel="nofollow">Send Message</a></p>
              </li>
            </ul>
            <br />
          </div>
          <div class="col-lg-6">
            <h5 class="title">Connect with us</h5>
            <br /><br /><br />
            <img src="../img/fb.png" class="wow fadeIn" data-wow-delay="0.2s">
            <img src="../img/tw.png" class="wow fadeIn" data-wow-delay="0.3s">
            <img src="../img/in.png" class="wow fadeIn" data-wow-delay="0.4s">
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: InvestxD

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->


<!-- SCRIPTS -->

<!-- JQuery -->
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../js/tether.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="../js/mdb.min.js"></script>

<!-- Animations init-->
<script>
    new WOW().init();
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5921b5038028bb732704707a/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->


<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 250" style="position: fixed; left: -1000px; height: -1000px;">
  <defs>
    <g id="chart">
      <g id="Gridlines">
        <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="27.3" x2="468.3" y2="27.3"/>
        <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="66.7" x2="468.3" y2="66.7"/>
        <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="105.3" x2="468.3" y2="105.3"/>
        <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="144.7" x2="468.3" y2="144.7"/>
        <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="184.3" x2="468.3" y2="184.3"/>
      </g>
      <g id="Numbers">
        <text transform="matrix(1 0 0 1 485 29.3333)" fill="#888888" font-family="'Roboto'" font-size="9">500</text>
        <text transform="matrix(1 0 0 1 485 69)" fill="#888888" font-family="'Roboto'" font-size="9">400</text>
        <text transform="matrix(1 0 0 1 485 109.3333)" fill="#888888" font-family="'Roboto'" font-size="9">300</text>
        <text transform="matrix(1 0 0 1 485 149)" fill="#888888" font-family="'Roboto'" font-size="9">200</text>
        <text transform="matrix(1 0 0 1 485 188.3333)" fill="#888888" font-family="'Roboto'" font-size="9">100</text>
        <text transform="matrix(1 0 0 1 0 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">1</text>
        <text transform="matrix(1 0 0 1 78 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">2</text>
        <text transform="matrix(1 0 0 1 154.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">3</text>
        <text transform="matrix(1 0 0 1 232.1667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">4</text>
        <text transform="matrix(1 0 0 1 309 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">5</text>
        <text transform="matrix(1 0 0 1 386.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">6</text>
        <text transform="matrix(1 0 0 1 464.3333 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">7</text>
      </g>
      <g id="Layer_5">
        <polygon opacity="0.36" stroke-miterlimit="10" points="0,223.3 48,138.5 154.7,169 211,88.5
              294.5,80.5 380,165.2 437,75.5 469.5,223.3   "/>
      </g>
      <g id="Layer_4">
        <polygon stroke-miterlimit="10" points="469.3,222.7 1,222.7 48.7,166.7 155.7,188.3 212,132.7
              296.7,128 380.7,184.3 436.7,125   "/>
      </g>
    </g>
  </defs>
</svg>


</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript" charset="utf-8">
    $(function () {
        var data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };

        var option = {
            responsive: true,
        };

        // Get the context of the canvas element we want to select
        var ctx = document.getElementById("myChart").getContext('2d');
        var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.
    });
</script>
</html>